# Auto detect text files and perform LF normalization
* text=auto
*.cbp linguist-detectable=false
*.cmake linguist-detectable=false
*.depend linguist-detectable=false
*.layout linguist-detectable=false
